langchain==0.2.11
langchain-community==0.2.5
langgraph==0.2.76
pydantic==2.7.4
python-dotenv==1.0.1
requests==2.32.3
beautifulsoup4==4.12.3
feedparser==6.0.11
#serper==1.2.0
sendgrid==6.11.0
python-schedule==1.2.1
ollama==0.2.0
huggingface_hub==0.23.0
pytest==8.2.2